[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "flair"]
	path = flair
	url = https://github.com/r-for-educators/flair
	shallow = true
	registered = true
